# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\My_Java\blog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
